<!DOCTYPE html>
    <html>
        <head>
            <style>

                nav ul li {
                float: right;
                }
                nav ul li a {
                display: block;
                text-align: left;
                padding: 14px 16px;
                text-decoration: none;
                }
            </style>
            <title> {{ site.name }} - {{ page.title }}</title>
            <!-- link to main stylesheet 
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            -->
            <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
            {% include head-custom.html %}
            </head>
            <body>

            <div class="wrapper">

                <nav>
                <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
                {{ site.name }} - 
                <li><a href="/">About me</a></li>
                <li><a href="/resume/resume.pdf">Resume</a></li>
                <li><a href="/research">Research</a></li>
                <li><a href="/publications">Publications</a></li>
                <li><a href="/software">Software</a></li>
                <li><a href="/other">Other</a></li>
                <li><a href="/blog">Blog</a></li>
                </ul>
                </nav>

                
                {{ content }}

            </div>
            <script src={{ "/assets/js/scale.fix.js" }}></script>
        </body>
    </html>



