---
layout: default
title: About me
---

<div style="display: inline-grid; column-gap: 20px; grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );">
    <div style="width: 200px;">
    {% if page.logo %}
    <img src="{{ page.logo }}" alt="{{ page.logo_alt }}" style="width=200px; max-height=300px;" />
    
    {% endif %}

    {% if page.logo_source %}
    <div style="">
    <a href="{{ page.logo_source }}">Image source</a> 
    </div>
    {% endif %}
    </div>

    <div style="width:100%;">
    <section>
    {{page.content}}
    </section>
    </div>
</div>
