---
layout: default
title: Project
---

<header style="min-height: 200px; position: relative; ">
    <h3>Research</h3>
    <div style="position: relative; ">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        {%- assign list_projects = site.projects -%} {%- assign sorted_projects = list_projects | sort: "date" | reverse %} 
        {%- for project in sorted_projects -%} 

        <li> <a href="{{ project.url | relative_url }}">{{ project.title }}</a> </li>

        {%- endfor %}

    </ul>
    
    </div>
</header>



    <section>

    <h1> {{ page.title }} </h1>

    <div style="width: 200px;">
    
    {% if page.logo %}
    <img src="{{ page.logo }}" alt="{{ page.logo_alt }}" style="width=200px; max-height=300px;" />
    
    {% endif %}

    {% if page.logo_source %}
    <div style="">
    <a href="{{ page.logo_source }}">Image source</a> 
    </div>
    {% endif %}
    </div>

    <div style="width:100%;">
    {{page.content}}
    </div>

    </section>

